body {
  font-family: 'Roboto Condensed', sans-serif;
}

foother{
  font-size: 12px;
  margin-left: 40%;
}

a:hover, a:visited, a:link, a:active, a:focus {
  text-decoration: none;
  color:black;
  outline:none;
}

a:hover {
  opacity: 0.6;
}

#avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#telegram-box {
  border: 2px solid #26a8ff;
}

#telegram-box:active {
  background-color: #26a8ff;
  color: white;
}

#instagram-box{
  border: 2px solid #FF5151;
}

#instagram-box:active {
  background-color: #FF5151;
  color: white;
}

#github-box {
  border: 2px solid #333333;
}

#github-box:active {
  background-color: #333333;
  color: white;
}

#discord-box {
  border: 2px solid #7289DA;
}

#discord-box:active {
  background-color: #7289DA;
  color: white;
}

#point {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  margin-top: -20px;
}

#point img{
  width: 10px;
  height: 10px
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 70%;
  margin-left: 15%;
  margin-bottom:30px;
}

.text-box{
  padding-left:20px
}

.icon {
  weidth: 75px;
  height: 75px;
}

foother {
  font-size: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
}


