body {
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:auto;
    font-size:12px;
}

a:hover, a:visited, a:link, a:active, a:focus {
  text-decoration: none;
  color:black;
  outline:none;
}

a:hover {
  opacity: 0.6;
}

#avatarandname{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -30px;
    margin-top: 30px;
}

#avatarandname img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-bottom: -10px;
}

#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#introduction h6 {
    margin-bottom: -20px;
}

#location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -40px;
}

#location img {
    margin-right: 8px;
    width: 15px;
    height: 15px;
}

#telegram-box {
  border: 2px solid #26a8ff;
}

#telegram-box:active {
  background-color: #26a8ff;
  color: white;
}

#instagram-box{
  border: 2px solid #FF5151;
}

#instagram-box img{
    padding-right: -10px;
}

#instagram-box:active {
  background-color: #FF5151;
  color: white;
}

#github-box {
  border: 2px solid #333333;
}

#github-box:active {
  background-color: #333333;
  color: white;
}

#discord-box {
  border: 2px solid #7289DA;
}

#discord-box:active {
  background-color: #7289DA;
  color: white;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card img {
    width: 50px;
    height: 50px;
    flex:2;
}

.card div {
    flex:3;
}